<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h4>Create Employee</h4>
            <hr />
            <div class="card card-body bg-light">
                <form class="form-horizontal" #employeeForm="ngForm" (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="name">Name <span class="required">*</span></label>
                        <input type="text" [(ngModel)]="employeename" name="name" class="form-control" id="name"
                            placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address <span class="required">*</span></label>
                        <input type="text" [(ngModel)]="employeeaddress" name="address" class="form-control"
                            id="address" placeholder="Enter Address" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile <span class="required">*</span></label>
                        <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control" id="mobile"
                            placeholder="Enter Mobile" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="reset" class="btn btn-secondary">Clear</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-7">
            <h4>List Employee</h4>
            <hr />
            <div class="card card-body bg-light">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let EmployeeItem of employeeArray">
                            <td scope="row">{{EmployeeItem.employeeid }}</td>
                            <td>{{EmployeeItem.employeename | uppercase}}</td>
                            <td>{{EmployeeItem.employeeaddress }}</td>
                            <td>{{EmployeeItem.mobile }}</td>
                            <td>
                                <button class="btn btn-success" (click)="setUpdate(EmployeeItem)">Edit</button>
                                
                                <button class="btn btn-danger" (click)="setDelete(EmployeeItem)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>